* {
  color: #ffc008;
}
.wardrobe-page {
  margin-top: 115px;
}

h2 {
  background-color: #212529;;
  color: #ffc008;
  padding: 10px;
  text-align: center;
  margin: 0;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clothing-list, .laundry-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.clothing {
  min-height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted #333;
}

.clothing img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.clothing button {
  margin: 5px 3px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
}

.clothing button:hover {
  background-color: #555;
}

input[type="file"] {
  display: none;
}

label {
  background-image: url('../images/plus.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}