@font-face {
  font-family: yesevaOne;
  src: url(../public/YesevaOne-Regular.ttf);
}
@font-face {
  font-family: 'Noto Serif';
  src: url(../public/NotoSerif-Italic-VariableFont_wdth\,wght.ttf);
}
@media screen and (min-width: 1200px)  {
  #home-space{
      padding-left: 10%;
  }
}
@media screen and (min-width: 1200px)  {
  #home-space{
      padding-left: 10%;
  }
}